Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @gvachkov, @kwiatekus, @dariadomagala, @parostatkiem, @akucharska, @Wawrzyn321, @Peteva, @ekaterina-mitova, @nkanchev

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-incubator/cmp_team

# All developers working on this repository are able to edit main values.yaml file.
/chart/compass/values.yaml @PK85 @crabtree @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @dbadura @kjaksik @piotrmiskiewicz @polskikiel @ksputo @jasiu001 @koala7659 @rafalpotempa @kyma-incubator/cmp_team

# Director
/chart/compass/charts/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/templates/director-api-test.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/templates/director-gateway-integration-test.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/components/schema-migrator/migrations/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/components/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/docs/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/docs/integration-system @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/tests/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Tenant Fetcher
/chart/compass/templates/tenant-fetcher-secret.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/templates/tenant-fetcher-job.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Gateway
/chart/compass/charts/gateway @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/templates/gateway-auditlog-integration-test.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/components/gateway @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Healthchecker
/chart/compass/charts/healthchecker @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/components/healthchecker @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Pairing Adapter
/chart/compass/charts/paring-adapter @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @kyma-incubator/cmp_team
/components/pairing-adapter @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# External Services Mock
/components/external-services-mock @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/charts/external-services-mock @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Compass UI
/chart/compass/charts/cockpit @kwiatekus @dariadomagala @parostatkiem @akucharska @Wawrzyn321 @kyma-incubator/cmp_team

# All .md files
*.md @Peteva @ekaterina-mitova @nkanchev

Add Unit tests, prepare Makefile and adjust scripts
  components/ord-service/Dockerfile
  components/ord-service/Makefile
  components/ord-service/run.sh
  components/ord-service/scripts/build.sh
  components/ord-service/scripts/commons.sh
  components/ord-service/scripts/install_dependencies.sh
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/CustomErrorProcessor.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/aggregator/JsonArrayElementsAggregator.java
  components/ord-service/src/test/java/com/sap/cloud/cmp/ord/service/config/CustomErrorProcessorTest.java
  components/ord-service/src/test/java/com/sap/cloud/cmp/ord/service/filter/aggregator/JsonArrayElementsAggregatorTest.java
  components/ord-service/src/test/java/com/sap/cloud/cmp/ord/service/storage/model/converter/UrlConverterTest.java
  components/ord-service/src/test/resources/application.yml
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
Owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik

Add OData debug option and a more descriptive error processor
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/CustomErrorProcessor.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/EclipseLinkJpaConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/ODataJPAConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/controller/ODataController.java
Owners: @kyma-incubator/cmp_team

Add more description in a TODO comment
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Expose specs in a separate API
  chart/compass/charts/ord-service/templates/deployment.yaml
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/EclipseLinkJpaConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/controller/SpecificationsController.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/repository/ApiSpecRepository.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/repository/EventSpecRepository.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APISpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventSpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/converter/UrlConverter.java
  components/ord-service/src/main/resources/application.yml
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
Owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik

Fix down migration failure
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.down.sql
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Add E2E tests + refactoring
  chart/compass/charts/ord-service/templates/deployment.yaml
  chart/compass/charts/ord-service/templates/tests/ord-service-test.yaml
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
  tests/ord-service/Dockerfile
  tests/ord-service/Makefile
  tests/ord-service/go.mod
  tests/ord-service/go.sum
  tests/ord-service/pkg/fixtures.go
  tests/ord-service/tests/api_test.go
  tests/ord-service/tests/main_test.go
  tests/ord-service/wait-for-components.sh
Owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa

Configure CloudSQL DB connection
  chart/compass/charts/ord-service/templates/deployment.yaml
  chart/compass/charts/ord-service/values.yaml
  chart/compass/values.yaml
Owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa

Extract Gateway tests TestContext's GQLFieldsProvider
  tests/director/gateway-integration/fixtures_request.go
  tests/director/gateway-integration/testctx.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Disable Debug support and fix run.sh
  components/ord-service/run.sh
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/controller/ODataController.java
  tests/tenant-fetcher/Dockerfile
Owners: @kyma-incubator/cmp_team

Fix imports linter issue
  tests/ord-service/pkg/fixtures.go
  tests/ord-service/tests/api_test.go
Owners: @kyma-incubator/cmp_team

Remove ORD Service code base
  components/ord-service/Dockerfile
  components/ord-service/Makefile
  components/ord-service/pom.xml
  components/ord-service/run.sh
  components/ord-service/scripts/build.sh
  components/ord-service/scripts/commons.sh
  components/ord-service/scripts/install_dependencies.sh
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/ORDServiceApplication.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/CustomErrorProcessor.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/CustomJPAEdmMetadataPostProcessor.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/EclipseLinkJpaConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/ODataJPAConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/controller/ODataController.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/controller/SpecificationsController.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/aggregator/JsonArrayElementsAggregator.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/wrappers/JsonResponseWrapper.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/repository/ApiSpecRepository.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/repository/EventSpecRepository.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/JPAPostgresDatabaseProcessorImpl.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIResourceLink.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APISpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/ArrayElement.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/ChangelogEntry.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventSpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Label.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Link.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageLink.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Provider.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/converter/UrlConverter.java
  components/ord-service/src/main/resources/application.yml
  components/ord-service/src/test/java/com/sap/cloud/cmp/ord/service/config/CustomErrorProcessorTest.java
  components/ord-service/src/test/java/com/sap/cloud/cmp/ord/service/filter/aggregator/JsonArrayElementsAggregatorTest.java
  components/ord-service/src/test/java/com/sap/cloud/cmp/ord/service/storage/model/converter/UrlConverterTest.java
  components/ord-service/src/test/resources/application.yml
Owners: @kyma-incubator/cmp_team

Add missing chart values and properties
  chart/compass/charts/gateway/templates/virtualservice.yaml
  chart/compass/charts/ord-service/templates/deployment.yaml
  chart/compass/charts/ord-service/templates/service-account.yaml
  chart/compass/charts/ord-service/templates/service.yaml
  chart/compass/charts/ord-service/values.yaml
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa

Use switches instead of if/else
  tests/ord-service/tests/api_test.go
Owners: @kyma-incubator/cmp_team

Add more E2E tests - paging, filtering, projection, ordering
  tests/ord-service/tests/api_test.go
Owners: @kyma-incubator/cmp_team

Fix tests and modify versioning migration
  components/schema-migrator/migrations/director/202012081537_ord_service_initial.down.sql
  components/schema-migrator/migrations/director/202012081537_ord_service_initial.up.sql
  tests/ord-service/tests/api_test.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Tweaks
  components/schema-migrator/migrations/director/202012081537_ord_service_initial.up.sql
  tests/ord-service/tests/api_test.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

fix tests
  components/external-services-mock/cmd/main.go
  tests/director/external-services-mock-integration/fetch_request_test.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

fix tests
  components/external-services-mock/cmd/main.go
  tests/director/external-services-mock-integration/fetch_request_test.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

fix tests
  tests/director/external-services-mock-integration/auditlog_integration_test.go
  tests/director/external-services-mock-integration/fixtures_request.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

make imports
  tests/director/external-services-mock-integration/fixtures_request.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Return to original API Deprecation notion
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/202012081537_ord_service_initial.up.sql
  tests/director/api/fixtures.go
  tests/ord-service/pkg/fixtures.go
  tests/ord-service/tests/api_test.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @kyma-incubator/cmp_team

Bump alpine version
  components/connectivity-adapter/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/healthchecker/Dockerfile
  components/pairing-adapter/Dockerfile
  components/schema-migrator/Dockerfile
  components/tenant-fetcher/Dockerfile
Owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik
