Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @maksd, @piotrmsc, @kubadz, @strekm, @jakkab, @Tomasz-Smelcerz-SAP, @Demonsthere, @colunira, @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Update depndendencies
  components/provisioner/internal/api/resolver_integration_config.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/operations/stages/shootupgrade/upgrade_shoot.go
Owners: @janmedrek, @akgalwas, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Fix missing values in chart
  chart/compass/configure-managed-gcp-postgresql.md
  chart/compass/templates/managed-postgresql-secret.yaml
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Apply suggestions from code review
  chart/compass/configure-managed-gcp-postgresql.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Fix missing values in Compass chart (#1489)
  chart/compass/configure-managed-gcp-postgresql.md
  chart/compass/templates/managed-postgresql-secret.yaml
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Enable tls renegotiation in http client for IAS
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/httputil/client.go
Owners: @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001

add doc about tenancy
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Remove dependency on local postgresql installation in compass run script
  components/director/run.sh
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Remove dependency on local postgresql installation in compass run script (#1488)
  components/director/run.sh
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Bump auths texts
  chart/compass/charts/cockpit/values.yaml
  ssh
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Delete ssh
  ssh
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

refactor doc
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Split Compass/KCP docs
  docs/README.md
  docs/compass/02-01-components.md
  docs/internal/investigations/provisioning-custom-configuration.md
  docs/internal/runtime-upgrade.md
  docs/kyma-environment-broker/01-01-overview.md
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/02-02-broker-endpoints.md
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-02-runtime-components.md
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
  docs/kyma-environment-broker/03-04-hyperscaler-account-pool.md
  docs/kyma-environment-broker/03-05-authorization.md
  docs/kyma-environment-broker/03-06-runtime-overrides.md
  docs/kyma-environment-broker/03-07-environments-cleanup.md
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
  docs/kyma-environment-broker/08-02-deprovisioning-kyma-environment.md
  docs/kyma-environment-broker/08-03-operation-status.md
  docs/kyma-environment-broker/08-04-instance-details.md
  docs/kyma-environment-broker/assets/hap-flow.svg
  docs/kyma-environment-broker/assets/keb-architecture.svg
  docs/kyma-environment-broker/assets/runtime-components.svg
  docs/provisioner/01-01-provisioner-overview.md
  docs/provisioner/05-01-app-entry-parameters.md
  docs/provisioner/08-02-provisioning-gardener.md
  docs/provisioner/08-03-runtime-operation-status.md
  docs/provisioner/08-04-runtime-status.md
  docs/provisioner/08-05-deprovisioning.md
  docs/provisioner/hyperscaler-account-pool-api-design.md
  docs/provisioner/provisioning-api.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001

Remove broken links and references
  docs/README.md
  docs/connector/02-01-connector-service.md
  docs/runtime-agent/runtime-agent-contract.md
  docs/terminology.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Split Compass/KCP docs (#1493)
  docs/README.md
  docs/compass/02-01-components.md
  docs/connector/02-01-connector-service.md
  docs/internal/investigations/provisioning-custom-configuration.md
  docs/internal/runtime-upgrade.md
  docs/kyma-environment-broker/01-01-overview.md
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/02-02-broker-endpoints.md
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-02-runtime-components.md
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
  docs/kyma-environment-broker/03-04-hyperscaler-account-pool.md
  docs/kyma-environment-broker/03-05-authorization.md
  docs/kyma-environment-broker/03-06-runtime-overrides.md
  docs/kyma-environment-broker/03-07-environments-cleanup.md
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
  docs/kyma-environment-broker/08-02-deprovisioning-kyma-environment.md
  docs/kyma-environment-broker/08-03-operation-status.md
  docs/kyma-environment-broker/08-04-instance-details.md
  docs/kyma-environment-broker/assets/hap-flow.svg
  docs/kyma-environment-broker/assets/keb-architecture.svg
  docs/kyma-environment-broker/assets/runtime-components.svg
  docs/provisioner/01-01-provisioner-overview.md
  docs/provisioner/05-01-app-entry-parameters.md
  docs/provisioner/08-02-provisioning-gardener.md
  docs/provisioner/08-03-runtime-operation-status.md
  docs/provisioner/08-04-runtime-status.md
  docs/provisioner/08-05-deprovisioning.md
  docs/provisioner/hyperscaler-account-pool-api-design.md
  docs/provisioner/provisioning-api.md
  docs/runtime-agent/runtime-agent-contract.md
  docs/terminology.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001

Remove the Configuration section as it should not be in the contract
  docs/runtime-agent/runtime-agent-contract.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Add info on RA synchronizing with the Director
  docs/runtime-agent/runtime-agent-contract.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Fix the Runtime Agent contract (#1494)
  docs/runtime-agent/runtime-agent-contract.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Bump auths texts (#1492)
  chart/compass/charts/cockpit/values.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Apply suggestions from code review
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

apply review comments
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Apply suggestions from code review
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

fix after review
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Chnage the donwload location to gcs bucket
  installation/scripts/generate-compass-installer-artifacts.sh
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Update readme
  README.md
  components/connectivity-adapter/README.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Update outdated Readmes (#1496)
  README.md
  components/connectivity-adapter/README.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Update 03-packages-api.md
  docs/compass/03-packages-api.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

fix after review
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

add more info to auth flow
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Update 03-tenancy.md
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Apply suggestions from code review
  docs/director/03-tenancy.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

add diagram with tenant mapping flow
  docs/director/03-tenancy.md
  docs/director/assets/tenant-mapping.svg
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Bump UI image
  chart/compass/charts/cockpit/values.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Chnage the donwload location to gcs bucket (#1495)
  installation/scripts/generate-compass-installer-artifacts.sh
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

remove sjanota from codeowners
  OWNERS_ALIASES
  chart/compass/charts/cockpit/OWNERS
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

CODEOWNERS:

# This file provides an overview of code owners in the `control-plane` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `control-plane` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa

# All developers working on this repository are able to edit main values.yaml file.
/resources/kcp/values.yaml @PK85 @crabtree @pkosiec @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @dbadura @kjaksik @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001 @koala7659 @rafalpotempa

# Registration job is used by provisioner and kyma-environment-broker
/resources/kcp/templates/registration-job.yaml @PK85 @crabtree @pkosiec @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @dbadura @kjaksik @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001 @koala7659 @rafalpotempa

# Kyma Environment Broker
/resources/kcp/charts/kyma-environment-broker @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001
/components/kyma-environment-broker @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001
/docs/kyma-environment-broker @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001
/components/schema-migrator/migrations/kyma-environment-broker @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001

# Runtime Provisioner
/resources/kcp/charts/provisioner @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa
/components/provisioner @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa
/docs/provisioner @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa
/components/schema-migrator/migrations/provisioner @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa
/tests/provisioner-tests @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa


# e2e-provisioning
/tests/e2e/provisioning @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001

# Metris
/resources/kcp/charts/metris @maksd
/components/metris @maksd

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere @colunira
/chart/oidc-kubeconfig-service @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere @colunira

# All .md files
*.md @klaudiagrz @kazydek @tomekpapiernik @bszwarc @mmitoraj @majakurcius @alexandra-simeonova
