Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev, @Peteva, @ekaterina-mitova, @nkanchev

Fix unit tests issues
  components/director/internal/tenantfetchersvc/tenant_fetcher_job_config_test.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Fix unit tests issues
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/internal/tenantfetchersvc/tenant_fetcher_job_config.go
  components/director/internal/tenantfetchersvc/tenant_fetcher_job_config_test.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Fix unit tests issues
  components/director/internal/tenantfetchersvc/tenant_fetcher_job_config_test.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Merge all compass-overrides yaml files into one
  installation/scripts/install-compass.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

removed BaseURL update from func and added it directly to the test
  tests/director/tests/application_api_test.go
  tests/pkg/fixtures/application_requests.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Use yq v3.3.0 syntax
  installation/scripts/install-compass.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

add go.mod and go.sum
  components/director/go.mod
  components/director/go.sum
  tests/go.mod
  tests/go.sum
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

update values.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Introduce pairing adapter e2e test
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/adapters-configmap.yaml
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  chart/compass/values.yaml
  installation/resources/installer-config-local.yaml.tpl
  tests/pairing-adapter/tests/mtls_flow_test.go
  tests/pkg/config/pairing-adapter.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

run make imports
  components/director/internal/domain/application/service_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix script with wrong encoding
  installation/scripts/install-compass.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

fix chart
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Deprecate scenario assignment mutations
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  tests/director/tests/formation_api_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Bump PR version
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

stylecheck fix
  components/director/internal/domain/application/fixtures_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

stylecheck fix2
  components/director/internal/domain/application/fixtures_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

address pr comments and adapt runtime api test
  tests/director/tests/automatic_scenario_assignment_test.go
  tests/director/tests/formation_api_test.go
  tests/director/tests/runtime_api_test.go
  tests/ord-service/tests/api_test.go
  tests/pkg/fixtures/formation_queries.go
  tests/pkg/fixtures/scenario_assignment_requests.go
  tests/tenant-fetcher-job/tests/handler_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

rename asa-specific names to formations in runtime api test
  tests/director/tests/runtime_api_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Regenerate schema
  components/director/pkg/graphql/schema.graphql
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fix test
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  chart/compass/values.yaml
  tests/pairing-adapter/tests/mtls_flow_test.go
  tests/pkg/config/pairing-adapter.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

WIP
  installation/scripts/install-compass.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

minor change
  chart/compass/charts/pairing-adapter/templates/adapters-configmap.yaml
  chart/compass/charts/pairing-adapter/values.yaml
Owners: @svetlinzarev-sap, @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev

minor change
  chart/compass/charts/pairing-adapter/values.yaml
Owners: @svetlinzarev-sap, @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev

Replace ASA mutations with Formations API in e2e tests (#2341)
  chart/compass/values.yaml
  tests/director/tests/automatic_scenario_assignment_test.go
  tests/director/tests/formation_api_test.go
  tests/director/tests/runtime_api_test.go
  tests/ord-service/tests/api_test.go
  tests/pkg/fixtures/formation_queries.go
  tests/pkg/fixtures/label_definitions_queries.go
  tests/pkg/fixtures/scenario_assignment_requests.go
  tests/pkg/fixtures/scenarios_queries.go
  tests/tenant-fetcher-job/tests/handler_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fix tenant-fetcher
  components/director/cmd/director/main.go
  components/director/internal/domain/root_resolver.go
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/provider/handler.go
  installation/resources/installer-config-local.yaml.tpl
Owners: @petartodorovv, @stanislavstefanov, @krasish, @kaloyanspiridonov, @nickymateev, @svetlinzarev-sap, @ivantenevvasilev, @kirilkabakchiev, @alextargov, @dimitarpetrov, @la4ezar, @dzahariev, @nyordanoff, @desislavaa, @stefancholakov

Regenerate schema
  components/director/pkg/graphql/schema_gen.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fixing pairing adapter (#2342)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/adapters-configmap.yaml
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/internal/domain/root_resolver.go
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/provider/handler.go
  installation/resources/installer-config-local.yaml.tpl
  tests/go.mod
  tests/go.sum
  tests/pairing-adapter/tests/main_test.go
  tests/pairing-adapter/tests/mtls_flow_test.go
  tests/pkg/config/pairing-adapter.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fix typos
  tests/pairing-adapter/tests/mtls_flow_test.go
Owners: @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev, @svetlinzarev-sap

Change migrator PVC storageClassName
  chart/compass/templates/migrator-pvc.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

bump components versions
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Remove WIP tweaks
  installation/scripts/install-compass.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Auto terminate for compass run script
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Make some of the pairing adapter fields as optional
  chart/compass/values.yaml
  tests/pkg/config/pairing-adapter.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

[HOTFIX] Make some of the pairing adapter fields as optional
  chart/compass/values.yaml
  tests/pkg/config/pairing-adapter.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix TF integration tests to not expect cron jobs
  installation/resources/installer-config-local.yaml.tpl
  tests/tenant-fetcher-job/tests/handler_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Add changes from ORD side
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix imports
  tests/tenant-fetcher-job/tests/handler_test.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Add additional logs
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Remove unneded vars
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

dummy commit
  tests/pairing-adapter/tests/mtls_flow_test.go
Owners: @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev, @svetlinzarev-sap

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

* @dimitarpetrov @nyordanoff @petartodorovv @alextargov @svetlinzarev-sap @kaloyanspiridonov @ivantenevvasilev @desislavaa @krasish @kirilkabakchiev @stanislavstefanov @nickymateev @la4ezar @stefancholakov @dzahariev
/chart/compass/charts/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/chart/compass/charts/connector @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/gateway @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/chart/compass/charts/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/chart/compass/charts/operations-controller @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev
/chart/compass/charts/ord-service @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/pairing-adapter @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev
/chart/compass/charts/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/chart/compass/templates/filters @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/components/connectivity-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/connector @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/cmd/director @petartodorovv @stanislavstefanov @krasish @kaloyanspiridonov @nickymateev @svetlinzarev-sap @ivantenevvasilev @kirilkabakchiev @alextargov @dimitarpetrov @la4ezar @dzahariev @nyordanoff @desislavaa @stefancholakov
/components/director/cmd/ns-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/ordaggregator @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/scopessynchronizer @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/cmd/systemfetcher @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/tenantfetcher-job @stefancholakov @desislavaa @kirilkabakchiev @krasish
/components/director/cmd/tenantfetcher-svc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/cmd/tenantloader @alextargov @ivantenevvasilev @la4ezar @nyordanoff @desislavaa @dzahariev @kaloyanspiridonov @svetlinzarev-sap @stefancholakov @dimitarpetrov @stanislavstefanov @kirilkabakchiev @krasish @nickymateev @petartodorovv
/components/director/internal/authnmappinghandler @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/info @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/nsadapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/components/director/internal/oathkeeper @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/components/director/internal/open_resource_discovery @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/director/internal/runtimemapping @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/director/internal/scopes_sync @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/internal/systemfetcher @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/components/director/internal/tenantfetcher @krasish @stefancholakov @desislavaa @kirilkabakchiev
/components/director/internal/tenantfetchersvc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/internal/tenantmapping @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/accessstrategy @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/authenticator @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/operation @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/scenario @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/components/external-services-mock @krasish @stefancholakov @dimitarpetrov @kirilkabakchiev @alextargov @dzahariev @kaloyanspiridonov @ivantenevvasilev @petartodorovv @desislavaa @nickymateev @svetlinzarev-sap @la4ezar @nyordanoff @stanislavstefanov
/components/gateway @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/operations-controller @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/pairing-adapter @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/schema-migrator @dimitarpetrov @kirilkabakchiev @dzahariev @nickymateev @krasish @alextargov @kaloyanspiridonov @ivantenevvasilev @la4ezar @desislavaa @stefancholakov @svetlinzarev-sap @nyordanoff @petartodorovv @stanislavstefanov
/installation/cmd @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/installation/scripts @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/tests/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/tests/connector @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/gateway @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/istio @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/tests/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/ord-aggregator @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/tests/ord-service @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/tests/pairing-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/tests/system-fetcher @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/tests/tenant-fetcher-job @desislavaa @kirilkabakchiev @krasish @stefancholakov

# All .md files
*.md @Peteva @ekaterina-mitova @nkanchev
