Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @gvachkov, @kwiatekus, @dariadomagala, @parostatkiem, @akucharska, @Wawrzyn321, @Peteva, @ekaterina-mitova, @nkanchev

fix PR number
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @kyma-incubator/cmp_team

make imports
  components/director/internal/domain/document/service_test.go
  components/director/internal/domain/eventdef/service_test.go
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/fetchrequest/service_test.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

revert document changes
  components/director/internal/domain/document/service.go
  components/director/internal/domain/document/service_test.go
  components/director/internal/domain/root_resolver.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

add end to end test cases when fetch reques is failing
  tests/director/external-services-mock-integration/refetch_api_spec_test.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

remove document fetch_request_service mock
  components/director/internal/domain/document/automock/fetch_request_service.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Improve token verification (#1665)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/internal/authnmappinghandler/handler.go
  components/director/internal/authnmappinghandler/handler_test.go
  components/director/internal/oathkeeper/model.go
  components/director/internal/oathkeeper/model_test.go
  components/director/internal/tenantmapping/authenticator_context_provider.go
  components/director/internal/tenantmapping/authenticator_context_provider_test.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/pkg/authenticator/authenticator.go
  components/director/pkg/authenticator/authenticator_test.go
  components/director/pkg/authenticator/types.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa

Bump the alpine version in Connectivity Adapter
  components/connectivity-adapter/Dockerfile
  components/connectivity-adapter/go.mod
Owners: @kyma-incubator/cmp_team

Bump Adapter image
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @kyma-incubator/cmp_team

[CVE-2020-35380] Bump gjson patch version
  components/director/go.mod
  components/director/go.sum
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Allow container in pod to be restarted on failure
  chart/compass/templates/tenant-fetcher-job.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Change director version in values.yaml
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @kyma-incubator/cmp_team

Bump the alpine version in Connectivity Adapter (#1669)
  chart/compass/values.yaml
  components/connectivity-adapter/Dockerfile
  components/connectivity-adapter/go.mod
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @kyma-incubator/cmp_team

fix tests
  tests/director/external-services-mock-integration/fetch_request_test.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

[CVE-2020-35380] Bump gjson patch version (#1670)
  chart/compass/values.yaml
  components/director/go.mod
  components/director/go.sum
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @kyma-incubator/cmp_team

make imports
  tests/director/external-services-mock-integration/fetch_request_test.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Quote the configuration values
  chart/compass/charts/director/templates/deployment.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Increase version
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @kyma-incubator/cmp_team

Change director image
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @kyma-incubator/cmp_team

Quote the configuration values (#1672)
  chart/compass/charts/director/templates/deployment.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Initial implementation of ORD Service
  components/od-service/.gitignore
  components/od-service/.mvn/wrapper/MavenWrapperDownloader.java
  components/od-service/.mvn/wrapper/maven-wrapper.jar
  components/od-service/.mvn/wrapper/maven-wrapper.properties
  components/od-service/Dockerfile
  components/od-service/build.sh
  components/od-service/commons.sh
  components/od-service/pom.xml
  components/od-service/run.sh
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/ODServiceApplication.java
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/config/EclipseLinkJpaConfiguration.java
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/config/ODataJPAConfiguration.java
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/controller/ODataController.java
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/storage/JPAPostgresDatabaseProcessorImpl.java
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/storage/model/APIEntity.java
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/storage/model/BundleEntity.java
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/storage/model/EventEntity.java
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/storage/model/PackageEntity.java
  components/od-service/src/main/java/com/sap/cloud/cmp/od/service/storage/model/SpecificationEntity.java
  components/od-service/src/main/resources/application.yml
Owners: @kyma-incubator/cmp_team

Initial implementation
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/CustomJPAEdmMetadataPostProcessor.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/ODataJPAConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/BundleEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/SpecificationEntity.java
Owners: @kyma-incubator/cmp_team

Rename OD Service to ORD Servics
  components/od-service/run.sh
  components/ord-service/.gitignore
  components/ord-service/.mvn/wrapper/MavenWrapperDownloader.java
  components/ord-service/.mvn/wrapper/maven-wrapper.jar
  components/ord-service/.mvn/wrapper/maven-wrapper.properties
  components/ord-service/Dockerfile
  components/ord-service/build.sh
  components/ord-service/commons.sh
  components/ord-service/pom.xml
  components/ord-service/run.sh
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/ORDServiceApplication.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/EclipseLinkJpaConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/ODataJPAConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/controller/ODataController.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/JPAPostgresDatabaseProcessorImpl.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/BundleEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/SpecificationEntity.java
  components/ord-service/src/main/resources/application.yml
Owners: @kyma-incubator/cmp_team

Enhance Migration
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Backwards compatible migration for ORD compliance
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.down.sql
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Introduce DB view for JSONB columns
  components/ord-service/build.sh
  components/ord-service/pom.xml
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Link.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageEntity.java
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
Owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik

WIP
  components/ord-service/pom.xml
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APISpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventSpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Link.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/converter/LinksConverter.java
Owners: @kyma-incubator/cmp_team

Add other entities
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIAction.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/ChangelogEntry.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageAction.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageEntity.java
Owners: @kyma-incubator/cmp_team

Add chart for ord-service
  chart/compass/charts/ord-service/.helmignore
  chart/compass/charts/ord-service/Chart.yaml
  chart/compass/charts/ord-service/templates/deployment.yaml
  chart/compass/charts/ord-service/templates/service-account.yaml
  chart/compass/charts/ord-service/templates/service.yaml
  chart/compass/charts/ord-service/values.yaml
Owners: @kyma-incubator/cmp_team

Adopt some Views in OD Service
  components/ord-service/pom.xml
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Provider.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Tag.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/converter/LinksConverter.java
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.down.sql
Owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik

Use query parameter for compact response
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
Owners: @kyma-incubator/cmp_team

Comment out json escape post-process
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
Owners: @kyma-incubator/cmp_team

Remove .mvn folder
  components/ord-service/.gitignore
  components/ord-service/.mvn/wrapper/MavenWrapperDownloader.java
  components/ord-service/.mvn/wrapper/maven-wrapper.jar
  components/ord-service/.mvn/wrapper/maven-wrapper.properties
Owners: @kyma-incubator/cmp_team

Adop changes in ORD
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIResourceLink.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/ArrayElement.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Label.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Link.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageLink.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Provider.java
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
Owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik

Fix JSON post processor
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
Owners: @kyma-incubator/cmp_team

gitignore .mvn folder
  components/ord-service/.gitignore
Owners: @kyma-incubator/cmp_team

Add json post processor
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/wrappers/JsonResponseWrapper.java
Owners: @kyma-incubator/cmp_team

Exclude specs from OData API
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APISpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventSpecificationEntity.java
Owners: @kyma-incubator/cmp_team

Fix down migration
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.down.sql
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Align Spec Types of CMP and ORD
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @kyma-incubator/cmp_team

Externalize API/Event specifications
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APISpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventSpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/converter/UrlConverter.java
  components/ord-service/src/main/resources/application.yml
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
Owners: @kyma-incubator/cmp_team, @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-incubator/cmp_team

# All developers working on this repository are able to edit main values.yaml file.
/chart/compass/values.yaml @PK85 @crabtree @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @dbadura @kjaksik @piotrmiskiewicz @polskikiel @ksputo @jasiu001 @koala7659 @rafalpotempa @kyma-incubator/cmp_team

# Director
/chart/compass/charts/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/templates/director-api-test.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/templates/director-gateway-integration-test.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/components/schema-migrator/migrations/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/components/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/docs/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/docs/integration-system @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/tests/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Tenant Fetcher
/chart/compass/templates/tenant-fetcher-secret.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/templates/tenant-fetcher-job.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Gateway
/chart/compass/charts/gateway @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/templates/gateway-auditlog-integration-test.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/components/gateway @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Healthchecker
/chart/compass/charts/healthchecker @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/components/healthchecker @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Pairing Adapter
/chart/compass/charts/paring-adapter @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @kyma-incubator/cmp_team
/components/pairing-adapter @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# External Services Mock
/components/external-services-mock @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team
/chart/compass/charts/external-services-mock @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @kyma-incubator/cmp_team

# Compass UI
/chart/compass/charts/cockpit @kwiatekus @dariadomagala @parostatkiem @akucharska @Wawrzyn321 @kyma-incubator/cmp_team

# All .md files
*.md @Peteva @ekaterina-mitova @nkanchev
