Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev, @Peteva, @ekaterina-mitova, @nkanchev

Update graphqlizer fields
  components/director/pkg/graphql/graphqlizer/fields.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Kill subprocesses at the end 4
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

adopt e2e tests
  tests/go.mod
  tests/go.sum
  tests/pkg/fixtures/application_template_requests.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update values.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Kill subprocesses at the end 5
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Change image to golang 2
  components/director/hack/jwt_generator.sh
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Kill subprocesses at the end 6
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 7
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 8
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 9
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 10
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 11
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 12
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 14
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 15
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Kill subprocesses at the end 16
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fixed capital letter
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

extend application template with labels
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/apptemplate/converter.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/domain/label/converter.go
  components/director/internal/domain/label/converter_test.go
  components/director/internal/domain/label/entity.go
  components/director/internal/domain/label/fixtures_test.go
  components/director/internal/domain/label/repository.go
  components/director/internal/domain/label/repository_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/model/app_template.go
  components/director/internal/model/app_template_test.go
  components/director/internal/model/label.go
  components/director/pkg/graphql/applicaiton_template.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/director/20220427111436_add_labels_to_app_templates.down.sql
  components/schema-migrator/migrations/director/20220427111436_add_labels_to_app_templates.up.sql
Owners: @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev, @svetlinzarev-sap, @dimitarpetrov, @nyordanoff, @petartodorovv, @ivantenevvasilev, @desislavaa, @krasish, @stanislavstefanov, @la4ezar, @stefancholakov

update values.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

adopt e2e tests
  tests/go.mod
  tests/go.sum
  tests/pkg/fixtures/application_template_requests.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

format the code
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/domain/label/converter_test.go
  components/director/internal/domain/label/repository_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

add dot to automock file
  components/director/internal/domain/runtime_context/automock/runtime_context_repository.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

update go.sum and go.mod
  tests/go.mod
  tests/go.sum
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fix lint comments
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/service.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fix go.sum
  tests/go.sum
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Address PR comments
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

add tenant isolation test for runtimeContext
  tests/director/tests/tenant_isolation_test.go
  tests/pkg/assertions/assertions.go
  tests/pkg/fixtures/runtime_queries.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Tweaks
  chart/compass/charts/director/templates/deployment.yaml
  components/director/internal/domain/runtime/service.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

regenerate examples
  components/director/examples/README.md
  components/director/examples/delete-runtime-context/delete-runtime-context.graphql
  components/director/examples/query-application/query-application.graphql
  components/director/examples/query-applications-for-runtime/query-applications-for-runtime.graphql
  components/director/examples/query-applications/query-applications-with-label-filter.graphql
  components/director/examples/query-applications/query-applications.graphql
  components/director/examples/query-bundle/query-bundle.graphql
  components/director/examples/query-bundles/query-bundles.graphql
  components/director/examples/query-runtime-contexts/query-runtime-contexts.graphql
  components/director/examples/query-runtimecontext/query-runtimecontext.graphql
  components/director/examples/query-runtimes/query-runtimes-with-label-filter.graphql
  components/director/examples/query-runtimes/query-runtimes-with-pagination.graphql
  components/director/examples/query-runtimes/query-runtimes.graphql
  components/director/examples/query-tenants/query-tenants.graphql
  components/director/examples/register-application-from-template/register-application-from-template.graphql
  components/director/examples/register-application/register-application-with-bundles.graphql
  components/director/examples/register-application/register-application-with-status.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/examples/register-runtime-context/register-runtime-context.graphql
  components/director/examples/register-runtime/register-runtime.graphql
  components/director/examples/unpair-application/unpair-application.graphql
  components/director/examples/unregister-application/unregister-application.graphql
  components/director/examples/unregister-runtime/unregister-runtime.graphql
  components/director/examples/update-application/update-application.graphql
  components/director/examples/update-runtime-context/update-runtime-context.graphql
  components/director/examples/update-runtime/update-runtime.graphql
Owners: @Peteva, @ekaterina-mitova, @nkanchev, @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

make imports
  tests/director/tests/tenant_isolation_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

adjust PR version
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Add consumer subaccount in test tenants
  tests/pkg/tenant/tenant_setup.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update values.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Tweak
  chart/compass/values.yaml
  tests/pkg/tenant/tenant_setup.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

example comments
  components/director/pkg/graphql/schema.graphql
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

example comments
  components/director/pkg/graphql/schema_gen.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

removed logs
  tests/director/tests/application_api_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update config-local.yaml
  components/director/hack/config-local.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update values.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Add tenant fetcher deployment configmap and role binding
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantfetcher-svc/main.go
  installation/resources/installer-config-local.yaml.tpl
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov, @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @stanislavstefanov, @nickymateev, @la4ezar, @dzahariev

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

* @dimitarpetrov @nyordanoff @petartodorovv @alextargov @svetlinzarev-sap @kaloyanspiridonov @ivantenevvasilev @desislavaa @krasish @kirilkabakchiev @stanislavstefanov @nickymateev @la4ezar @stefancholakov @dzahariev
/chart/compass/charts/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/chart/compass/charts/connector @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/gateway @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/chart/compass/charts/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/chart/compass/charts/operations-controller @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev
/chart/compass/charts/ord-service @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/pairing-adapter @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev
/chart/compass/charts/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/chart/compass/templates/filters @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/components/connectivity-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/connector @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/cmd/director @petartodorovv @stanislavstefanov @krasish @kaloyanspiridonov @nickymateev @svetlinzarev-sap @ivantenevvasilev @kirilkabakchiev @alextargov @dimitarpetrov @la4ezar @dzahariev @nyordanoff @desislavaa @stefancholakov
/components/director/cmd/ns-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/ordaggregator @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/scopessynchronizer @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/cmd/systemfetcher @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/tenantfetcher-job @stefancholakov @desislavaa @kirilkabakchiev @krasish
/components/director/cmd/tenantfetcher-svc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/cmd/tenantloader @alextargov @ivantenevvasilev @la4ezar @nyordanoff @desislavaa @dzahariev @kaloyanspiridonov @svetlinzarev-sap @stefancholakov @dimitarpetrov @stanislavstefanov @kirilkabakchiev @krasish @nickymateev @petartodorovv
/components/director/internal/authnmappinghandler @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/info @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/nsadapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/components/director/internal/oathkeeper @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/components/director/internal/open_resource_discovery @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/director/internal/runtimemapping @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/director/internal/scopes_sync @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/internal/systemfetcher @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/components/director/internal/tenantfetcher @krasish @stefancholakov @desislavaa @kirilkabakchiev
/components/director/internal/tenantfetchersvc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/internal/tenantmapping @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/accessstrategy @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/authenticator @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/operation @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/scenario @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/components/external-services-mock @krasish @stefancholakov @dimitarpetrov @kirilkabakchiev @alextargov @dzahariev @kaloyanspiridonov @ivantenevvasilev @petartodorovv @desislavaa @nickymateev @svetlinzarev-sap @la4ezar @nyordanoff @stanislavstefanov
/components/gateway @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/operations-controller @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/pairing-adapter @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/schema-migrator @dimitarpetrov @kirilkabakchiev @dzahariev @nickymateev @krasish @alextargov @kaloyanspiridonov @ivantenevvasilev @la4ezar @desislavaa @stefancholakov @svetlinzarev-sap @nyordanoff @petartodorovv @stanislavstefanov
/installation/cmd @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/installation/scripts @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/tests/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/tests/connector @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/gateway @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/istio @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/tests/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/ord-aggregator @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/tests/ord-service @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/tests/pairing-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/tests/system-fetcher @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/tests/tenant-fetcher-job @desislavaa @kirilkabakchiev @krasish @stefancholakov

# All .md files
*.md @Peteva @ekaterina-mitova @nkanchev
