Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev, @Peteva, @ekaterina-mitova, @nkanchev

apply comments
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime_context/repository.go
  components/director/internal/domain/runtime_context/repository_test.go
  components/director/internal/domain/runtime_context/service_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/resource/resource.go
  tests/pkg/fixtures/runtime_context_requests.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Create test definitions conditionally (#2326)
  chart/compass/templates/bench/director/director-bench.yaml
  chart/compass/templates/bench/ord-service/ord-service-bench.yaml
  chart/compass/templates/tests/connectivity-adapter/connectivity-adapter-test.yaml
  chart/compass/templates/tests/connector/connector-test.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  chart/compass/templates/tests/gateway/gateway-test.yaml
  chart/compass/templates/tests/istio/istio-test.yaml
  chart/compass/templates/tests/ns-adapter/ns-adapter-test.yaml
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  chart/compass/templates/tests/system-broker/system-broker-test.yaml
  chart/compass/templates/tests/system-fetcher/system-fetcher-test.yaml
  chart/compass/templates/tests/tenant-fetcher-job/tenant-fetcher-job-test.yaml
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Start Director and ORD-service
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Revert changes in tenant-fetcher-secret.yaml
  chart/compass/templates/tenant-fetcher-secret.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update values.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix linter errors.
  components/director/internal/tenantfetchersvc/handler_test.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Move the calling API logic outside the transaction
  components/director/internal/domain/formation/automock/tenant_fetcher.go
  components/director/internal/domain/formation/automock/tenant_service.go
  components/director/internal/domain/formation/resolver.go
  components/director/internal/domain/formation/resolver_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime/service_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

change godoc
  components/director/internal/model/application.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

bump version
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Permissions added for creating folder
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

change godoc (#2333)
  chart/compass/values.yaml
  components/director/internal/model/application.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Set Go path
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Adjust Go path
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Initial implementation
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/apptemplate/converter.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/domain/label/converter.go
  components/director/internal/domain/label/converter_test.go
  components/director/internal/domain/label/entity.go
  components/director/internal/domain/label/fixtures_test.go
  components/director/internal/domain/label/repository.go
  components/director/internal/domain/label/repository_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/model/app_template.go
  components/director/internal/model/app_template_test.go
  components/director/internal/model/label.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/director/20220427111436_add_labels_to_app_templates.down.sql
  components/schema-migrator/migrations/director/20220427111436_add_labels_to_app_templates.up.sql
Owners: @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev, @svetlinzarev-sap, @dimitarpetrov, @nyordanoff, @petartodorovv, @ivantenevvasilev, @desislavaa, @krasish, @stanislavstefanov, @la4ezar, @stefancholakov

Add some unit tests
  components/director/internal/domain/formation/resolver.go
  components/director/internal/domain/formation/resolver_test.go
  components/director/internal/domain/runtime/automock/tenant_fetcher.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Remove sudo
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Adjust paths
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Fix paths
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Compare strings instead numbers
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Install migrate tool
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Fix existing tenant-fetcher e2e tests
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
  chart/compass/values.yaml
  components/director/internal/tenantfetchersvc/handler.go
  tests/pkg/tenantfetcher/tenant_helper.go
  tests/tenant-fetcher/tests/handler_test.go
  tests/tenant-fetcher/tests/main_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Add e2e test for providerSubaccountId property
  tests/tenant-fetcher/tests/handler_test.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Return original run.sh script
  components/director/func.source
  components/director/hack/jwt_generator.sh
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Adjust migrate installation
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Adjust timeouts
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Printout the user
  components/director/hack/jwt_generator.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

remove leftover scopes
  chart/compass/charts/director/config.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

add test cases and checks
  components/director/internal/domain/runtime_context/resolver_test.go
  tests/director/tests/runtime_contexts_api_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Debug inforamiton added
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Debug inforamiton added 2
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Debug inforamiton added 3
  components/director/run.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix in k8s client
  components/director/hack/jwt_generator.sh
  components/director/pkg/kubernetes/client.go
  components/director/run.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fix merge issues
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/domain/runtime_context/resolver_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

bump director reference version in testst
  tests/go.mod
  tests/go.sum
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Default values added
  components/director/hack/jwt_generator.sh
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Adopt labels in Application Template
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/apptemplate/converter.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/domain/label/converter.go
  components/director/internal/domain/label/repository.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/applicaiton_template.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/director/20220427111436_add_labels_to_app_templates.up.sql
  tests/go.sum
Owners: @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev, @svetlinzarev-sap, @dimitarpetrov, @nyordanoff, @petartodorovv, @ivantenevvasilev, @desislavaa, @krasish, @stanislavstefanov, @la4ezar, @stefancholakov

Kill subprocesses at the end
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 2
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Kill subprocesses at the end 3
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Update graphqlizer.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

* @dimitarpetrov @nyordanoff @petartodorovv @alextargov @svetlinzarev-sap @kaloyanspiridonov @ivantenevvasilev @desislavaa @krasish @kirilkabakchiev @stanislavstefanov @nickymateev @la4ezar @stefancholakov @dzahariev
/chart/compass/charts/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/chart/compass/charts/connector @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/gateway @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/chart/compass/charts/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/chart/compass/charts/operations-controller @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev
/chart/compass/charts/ord-service @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/pairing-adapter @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev
/chart/compass/charts/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/chart/compass/templates/filters @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/components/connectivity-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/connector @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/cmd/director @petartodorovv @stanislavstefanov @krasish @kaloyanspiridonov @nickymateev @svetlinzarev-sap @ivantenevvasilev @kirilkabakchiev @alextargov @dimitarpetrov @la4ezar @dzahariev @nyordanoff @desislavaa @stefancholakov
/components/director/cmd/ns-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/ordaggregator @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/scopessynchronizer @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/cmd/systemfetcher @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/tenantfetcher-job @stefancholakov @desislavaa @kirilkabakchiev @krasish
/components/director/cmd/tenantfetcher-svc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/cmd/tenantloader @alextargov @ivantenevvasilev @la4ezar @nyordanoff @desislavaa @dzahariev @kaloyanspiridonov @svetlinzarev-sap @stefancholakov @dimitarpetrov @stanislavstefanov @kirilkabakchiev @krasish @nickymateev @petartodorovv
/components/director/internal/authnmappinghandler @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/info @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/nsadapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/components/director/internal/oathkeeper @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/components/director/internal/open_resource_discovery @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/director/internal/runtimemapping @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/director/internal/scopes_sync @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/internal/systemfetcher @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/components/director/internal/tenantfetcher @krasish @stefancholakov @desislavaa @kirilkabakchiev
/components/director/internal/tenantfetchersvc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/internal/tenantmapping @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/accessstrategy @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/authenticator @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/operation @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/scenario @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/components/external-services-mock @krasish @stefancholakov @dimitarpetrov @kirilkabakchiev @alextargov @dzahariev @kaloyanspiridonov @ivantenevvasilev @petartodorovv @desislavaa @nickymateev @svetlinzarev-sap @la4ezar @nyordanoff @stanislavstefanov
/components/gateway @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/operations-controller @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/pairing-adapter @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/schema-migrator @dimitarpetrov @kirilkabakchiev @dzahariev @nickymateev @krasish @alextargov @kaloyanspiridonov @ivantenevvasilev @la4ezar @desislavaa @stefancholakov @svetlinzarev-sap @nyordanoff @petartodorovv @stanislavstefanov
/installation/cmd @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/installation/scripts @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/tests/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/tests/connector @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/gateway @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/istio @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/tests/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/ord-aggregator @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/tests/ord-service @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/tests/pairing-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/tests/system-fetcher @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/tests/tenant-fetcher-job @desislavaa @kirilkabakchiev @krasish @stefancholakov

# All .md files
*.md @Peteva @ekaterina-mitova @nkanchev
