Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev, @Peteva, @ekaterina-mitova, @nkanchev

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

* @dimitarpetrov @nyordanoff @petartodorovv @alextargov @svetlinzarev-sap @kaloyanspiridonov @ivantenevvasilev @desislavaa @krasish @kirilkabakchiev @stanislavstefanov @nickymateev @la4ezar @stefancholakov @dzahariev
/chart/compass/charts/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/chart/compass/charts/connector @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/gateway @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/chart/compass/charts/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/chart/compass/charts/operations-controller @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev
/chart/compass/charts/ord-service @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/pairing-adapter @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev
/chart/compass/charts/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/chart/compass/templates/filters @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/components/connectivity-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/connector @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/cmd/director @petartodorovv @stanislavstefanov @krasish @kaloyanspiridonov @nickymateev @svetlinzarev-sap @ivantenevvasilev @kirilkabakchiev @alextargov @dimitarpetrov @la4ezar @dzahariev @nyordanoff @desislavaa @stefancholakov
/components/director/cmd/ns-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/ordaggregator @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/scopessynchronizer @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/cmd/systemfetcher @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/tenantfetcher-job @stefancholakov @desislavaa @kirilkabakchiev @krasish
/components/director/cmd/tenantfetcher-svc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/cmd/tenantloader @alextargov @ivantenevvasilev @la4ezar @nyordanoff @desislavaa @dzahariev @kaloyanspiridonov @svetlinzarev-sap @stefancholakov @dimitarpetrov @stanislavstefanov @kirilkabakchiev @krasish @nickymateev @petartodorovv
/components/director/internal/authnmappinghandler @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/info @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/nsadapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/components/director/internal/oathkeeper @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/components/director/internal/open_resource_discovery @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/director/internal/runtimemapping @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/director/internal/scopes_sync @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/internal/systemfetcher @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/components/director/internal/tenantfetcher @krasish @stefancholakov @desislavaa @kirilkabakchiev
/components/director/internal/tenantfetchersvc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/internal/tenantmapping @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/accessstrategy @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/authenticator @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/operation @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/scenario @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/components/external-services-mock @krasish @stefancholakov @dimitarpetrov @kirilkabakchiev @alextargov @dzahariev @kaloyanspiridonov @ivantenevvasilev @petartodorovv @desislavaa @nickymateev @svetlinzarev-sap @la4ezar @nyordanoff @stanislavstefanov
/components/gateway @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/operations-controller @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/pairing-adapter @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/schema-migrator @dimitarpetrov @kirilkabakchiev @dzahariev @nickymateev @krasish @alextargov @kaloyanspiridonov @ivantenevvasilev @la4ezar @desislavaa @stefancholakov @svetlinzarev-sap @nyordanoff @petartodorovv @stanislavstefanov
/installation/cmd @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/installation/scripts @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/tests/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/tests/connector @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/gateway @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/istio @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/tests/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/ord-aggregator @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/tests/ord-service @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/tests/pairing-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/tests/system-fetcher @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/tests/tenant-fetcher-job @desislavaa @kirilkabakchiev @krasish @stefancholakov

# All .md files
*.md @Peteva @ekaterina-mitova @nkanchev

Uncomment code
  components/director/cmd/tenantfetcher-svc/main.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

add go.mod and go.sum
  tests/go.mod
  tests/go.sum
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix deployment
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/values.yaml
  installation/resources/installer-config-local.yaml.tpl
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Build then run the main.go
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix system fetcher tests
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Kill all subprocesses when finish
  components/director/run.sh
  installation/scripts/prow/ord-test.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fiels
  components/director/internal/dataloaders/runtimeContextLoaders.go
  components/director/internal/dataloaders/runtimecontextloader_gen.go
  components/director/internal/domain/runtime/automock/runtime_context_converter.go
  components/director/internal/domain/runtime/automock/runtime_context_service.go
  components/director/internal/metrics/request_interceptor.go
  components/schema-migrator/migrations/director/20220412121333_runtime_context_as_top_level_entity.down.sql
  components/schema-migrator/migrations/director/20220412121333_runtime_context_as_top_level_entity.up.sql
  tests/director/tests/runtime_contexts_api_test.go
  tests/pkg/fixtures/runtime_context_queries.go
  tests/pkg/fixtures/runtime_context_requests.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Kill all subprocesses when finish 2
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Add deleted comment
  components/director/internal/domain/runtime/service.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Add tenant fecther deployment role and binding in rbac.yaml
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/charts/tenant-fetcher/templates/rbac.yaml
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Fix e2e tests and add doc
  components/director/internal/domain/apptemplate/converter.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/label/repository.go
  tests/pkg/assertions/assertions.go
  tests/pkg/fixtures/application_template_requests.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fix apptemplate converter.go
  components/director/internal/domain/apptemplate/converter.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix tenant fecther deployment role binding
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/charts/tenant-fetcher/templates/rbac.yaml
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Add X-Authorization as header
  components/director/cmd/director/main.go
Owners: @petartodorovv, @stanislavstefanov, @krasish, @kaloyanspiridonov, @nickymateev, @svetlinzarev-sap, @ivantenevvasilev, @kirilkabakchiev, @alextargov, @dimitarpetrov, @la4ezar, @dzahariev, @nyordanoff, @desislavaa, @stefancholakov

Fix tenant fecther deployment role binding
  chart/compass/charts/tenant-fetcher/templates/rbac.yaml
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Rename misleading vars' name
  tests/pkg/fixtures/application_queries.go
  tests/pkg/fixtures/runtime_queries.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Stop storing subaccounts lazily (#2330)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/internal/domain/formation/automock/tenant_fetcher.go
  components/director/internal/domain/formation/automock/tenant_service.go
  components/director/internal/domain/formation/resolver.go
  components/director/internal/domain/formation/resolver_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/automock/tenant_fetcher.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime/service_test.go
  tests/pkg/tenant/tenant_setup.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update values.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix tenant fecther deployment role binding
  chart/compass/charts/tenant-fetcher/templates/rbac.yaml
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Fix tenant fecther deployment role binding
  chart/compass/charts/tenant-fetcher/templates/rbac.yaml
  chart/compass/values.yaml
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov, @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @stanislavstefanov, @nickymateev, @la4ezar, @dzahariev

Remove application:write scope from config-local.yaml file (#2337)
  chart/compass/values.yaml
  components/director/hack/config-local.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update config-local.yaml
  components/director/hack/config-local.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

update baseURL prop
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/converter_test.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/service_test.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Increeate TF job interval to not interfere with local installation
  chart/compass/values.yaml
  components/director/internal/tenantfetcher/service.go
  installation/resources/installer-config-local.yaml.tpl
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fixed spelling mistake
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fixed e2e test to check the change
  tests/director/tests/application_api_test.go
  tests/pkg/fixtures/application_requests.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Execute TF job in a separate go routine
  components/director/cmd/tenantfetcher-svc/main.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Update schema-migrator version
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

add tenant isolation test for runtimeContext (#2336)
  chart/compass/values.yaml
  components/director/examples/README.md
  components/director/examples/delete-runtime-context/delete-runtime-context.graphql
  components/director/examples/query-application/query-application.graphql
  components/director/examples/query-applications-for-runtime/query-applications-for-runtime.graphql
  components/director/examples/query-applications/query-applications-with-label-filter.graphql
  components/director/examples/query-applications/query-applications.graphql
  components/director/examples/query-bundle/query-bundle.graphql
  components/director/examples/query-bundles/query-bundles.graphql
  components/director/examples/query-runtime-contexts/query-runtime-contexts.graphql
  components/director/examples/query-runtimecontext/query-runtimecontext.graphql
  components/director/examples/query-runtimes/query-runtimes-with-label-filter.graphql
  components/director/examples/query-runtimes/query-runtimes-with-pagination.graphql
  components/director/examples/query-runtimes/query-runtimes.graphql
  components/director/examples/query-tenants/query-tenants.graphql
  components/director/examples/register-application-from-template/register-application-from-template.graphql
  components/director/examples/register-application/register-application-with-bundles.graphql
  components/director/examples/register-application/register-application-with-status.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/examples/register-runtime-context/register-runtime-context.graphql
  components/director/examples/register-runtime/register-runtime.graphql
  components/director/examples/unpair-application/unpair-application.graphql
  components/director/examples/unregister-application/unregister-application.graphql
  components/director/examples/unregister-runtime/unregister-runtime.graphql
  components/director/examples/update-application/update-application.graphql
  components/director/examples/update-runtime-context/update-runtime-context.graphql
  components/director/examples/update-runtime/update-runtime.graphql
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  tests/director/tests/tenant_isolation_test.go
  tests/pkg/assertions/assertions.go
  tests/pkg/fixtures/application_queries.go
  tests/pkg/fixtures/runtime_queries.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev, @Peteva, @ekaterina-mitova, @nkanchev

replace createASA and deleteASA mutations with assignFormation and unassignFormation
  chart/compass/values.yaml
  tests/director/tests/automatic_scenario_assignment_test.go
  tests/director/tests/formation_api_test.go
  tests/ord-service/tests/api_test.go
  tests/pkg/fixtures/formation_queries.go
  tests/pkg/fixtures/label_definitions_queries.go
  tests/pkg/fixtures/scenario_assignment_requests.go
  tests/pkg/fixtures/scenarios_queries.go
  tests/tenant-fetcher-job/tests/handler_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix imports
  components/director/cmd/tenantfetcher-svc/main.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

update e2e test pr version in values.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Test TF jobs locally with 1m interval
  chart/compass/values.yaml
  installation/resources/installer-config-local.yaml.tpl
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fixing pairing adapter
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  tests/pairing-adapter/tests/main_test.go
  tests/pairing-adapter/tests/mtls_flow_test.go
  tests/pkg/config/pairing-adapter.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

bump components versions
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

remove tenantFetcher override
  installation/resources/installer-config-local.yaml.tpl
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

update director component in pairing adapter tests
  tests/go.mod
  tests/go.sum
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

fix helm charts
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

extract the shard length computation in another method
  components/gateway/pkg/proxy/adaptertransport.go
Owners: @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv, @stanislavstefanov

Add unit tests for TF jobs configuration read
  components/director/internal/tenantfetchersvc/tenant_fetcher_job_config_test.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov
