Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas, @kyma-incubator/cmp-technical-writers

Add tenant_access:write scope to business_integration consumer type
  chart/compass/values.yaml
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

allow assign only for ready applications
  components/director/internal/domain/formation/assign_formation_test.go
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/service.go
Owners: @kyma-incubator/team-raptor

bump director version
  chart/compass/values.yaml
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

Add tenant_access:write scope to business_integration consumer type (#3580)
  chart/compass/values.yaml
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

Adjust unit tests
  components/director/internal/open_resource_discovery/service_test.go
Owners: @kyma-incubator/team-falcon

Update values
  chart/compass/values.yaml
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

Fix migrations
  components/schema-migrator/migrations/director/20240110153859_add-lastUpdate-to-bundle.down.sql
  components/schema-migrator/migrations/director/20240110153859_add-lastUpdate-to-bundle.up.sql
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor

Maintain lastUpdate property of ORD resources (#3576)
  chart/compass/values.yaml
  components/director/internal/domain/bundle/converter.go
  components/director/internal/domain/bundle/entity.go
  components/director/internal/domain/bundle/fixtures_test.go
  components/director/internal/domain/bundle/repository.go
  components/director/internal/domain/bundle/repository_test.go
  components/director/internal/domain/integrationdependency/resolver.go
  components/director/internal/model/api.go
  components/director/internal/model/bundle.go
  components/director/internal/model/data_product.go
  components/director/internal/model/entitytype.go
  components/director/internal/model/eventapi.go
  components/director/internal/model/integration_dependency.go
  components/director/internal/open_resource_discovery/processor/api.go
  components/director/internal/open_resource_discovery/processor/api_test.go
  components/director/internal/open_resource_discovery/processor/capability.go
  components/director/internal/open_resource_discovery/processor/capability_test.go
  components/director/internal/open_resource_discovery/processor/common.go
  components/director/internal/open_resource_discovery/processor/data_product.go
  components/director/internal/open_resource_discovery/processor/data_product_test.go
  components/director/internal/open_resource_discovery/processor/entity_type.go
  components/director/internal/open_resource_discovery/processor/entity_type_test.go
  components/director/internal/open_resource_discovery/processor/event.go
  components/director/internal/open_resource_discovery/processor/event_test.go
  components/director/internal/open_resource_discovery/processor/fixtures_test.go
  components/director/internal/open_resource_discovery/processor/integration_dependency.go
  components/director/internal/open_resource_discovery/processor/integration_dependency_test.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
  components/schema-migrator/migrations/director/20240110153859_add-lastUpdate-to-bundle.down.sql
  components/schema-migrator/migrations/director/20240110153859_add-lastUpdate-to-bundle.up.sql
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

swap check order
  components/director/internal/domain/formation/service.go
Owners: @kyma-incubator/team-raptor

Use prod images
  chart/compass/values.yaml
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

initial implementation
  chart/compass/charts/director/templates/instance-creator-certificate-pre-install-job.yaml
  chart/compass/charts/director/templates/instance-creator-certificate-rotation-job.yaml
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/values.yaml
  installation/resources/compass-overrides-local.yaml
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

only unassign target if it is different from source
  components/director/internal/formationmapping/handler.go
Owners: @kyma-incubator/team-raptor

bump values.yaml
  chart/compass/values.yaml
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

check if connection is reused
  components/director/pkg/accessstrategy/cmp_mtls_access_strategy.go
Owners: @kyma-incubator/team-falcon

Add integration stuff.
  chart/compass/charts/instance-creator/templates/deployment.yaml
  chart/compass/charts/instance-creator/templates/rbac.yaml
  chart/compass/charts/instance-creator/templates/service-account.yaml
  chart/compass/charts/instance-creator/values.yaml
  chart/compass/values.yaml
  components/instance-creator/cmd/main.go
  components/instance-creator/go.mod
  components/instance-creator/go.sum
  components/instance-creator/internal/config/config.go
  components/instance-creator/internal/handler/handler.go
Owners: @kyma-incubator/team-raptor, @kyma-incubator/team-falcon, @kyma-incubator/team-atlas

Use prod images for release v1.87.0
  chart/compass/values.yaml
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

Use prod images for release v1.87.0 (#3584)
  chart/compass/values.yaml
Owners: @kyma-incubator/team-falcon, @kyma-incubator/team-raptor, @kyma-incubator/team-atlas

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

* @kyma-incubator/team-falcon @kyma-incubator/team-raptor @kyma-incubator/team-atlas
/chart/compass/charts/connectivity-adapter @kyma-incubator/team-falcon
/chart/compass/charts/connector @kyma-incubator/team-raptor
/chart/compass/charts/gateway @kyma-incubator/team-raptor
/chart/compass/charts/kyma-adapter @kyma-incubator/team-raptor
/chart/compass/charts/instance-creator @kyma-incubator/team-raptor
/chart/compass/charts/ias-adapter @kyma-incubator/team-atlas
/chart/compass/charts/ns-adapter @kyma-incubator/team-falcon
/chart/compass/charts/operations-controller @kyma-incubator/team-falcon
/chart/compass/charts/ord-service @kyma-incubator/team-raptor
/chart/compass/charts/pairing-adapter @kyma-incubator/team-falcon
/chart/compass/charts/tenant-fetcher @kyma-incubator/team-falcon
/chart/compass/charts/ord-aggregator @kyma-incubator/team-falcon
/chart/compass/charts/system-fetcher @kyma-incubator/team-falcon
/chart/compass/templates/filters @kyma-incubator/team-raptor
/components/connectivity-adapter @kyma-incubator/team-falcon
/components/connector @kyma-incubator/team-raptor
/components/director/cmd/ns-adapter @kyma-incubator/team-falcon
/components/director/cmd/ordaggregator @kyma-incubator/team-falcon
/components/director/cmd/scopessynchronizer @kyma-incubator/team-raptor
/components/director/cmd/systemfetcher @kyma-incubator/team-falcon
/components/director/cmd/tenantfetcher-svc @kyma-incubator/team-falcon
/components/director/cmd/tenantloader @kyma-incubator/team-raptor @kyma-incubator/team-falcon
/components/director/internal/domain/formation @kyma-incubator/team-raptor
/components/director/internal/domain/formationassignment @kyma-incubator/team-raptor
/components/director/internal/domain/formationtemplate @kyma-incubator/team-raptor
components/director/internal/domain/formationconstraint @kyma-incubator/team-raptor
components/director/internal/domain/formationtemplateconstraintreferences @kyma-incubator/team-raptor
/components/director/internal/formationmapping @kyma-incubator/team-raptor
/components/director/internal/domain/certsubjectmapping @kyma-incubator/team-raptor
/components/director/internal/info @kyma-incubator/team-raptor
/components/director/internal/nsadapter @kyma-incubator/team-falcon
/components/director/internal/open_resource_discovery @kyma-incubator/team-falcon
/components/director/internal/scopes_sync @kyma-incubator/team-raptor
/components/director/internal/systemfetcher @kyma-incubator/team-falcon
/components/director/internal/tenantfetcher @kyma-incubator/team-falcon
/components/director/internal/tenantfetchersvc @kyma-incubator/team-falcon
/components/director/pkg/accessstrategy @kyma-incubator/team-falcon
/components/director/pkg/operation @kyma-incubator/team-falcon
/components/director/pkg/scenario @kyma-incubator/team-raptor
/components/gateway @kyma-incubator/team-raptor
/components/hydrator @kyma-incubator/team-raptor
/components/kyma-adapter @kyma-incubator/team-raptor
/components/instance-creator @kyma-incubator/team-raptor
/components/ias-adapter @kyma-incubator/team-atlas
/components/operations-controller @kyma-incubator/team-falcon
/components/pairing-adapter @kyma-incubator/team-falcon
/components/schema-migrator @kyma-incubator/team-falcon @kyma-incubator/team-raptor
/installation/cmd @kyma-incubator/team-raptor
/installation/scripts @kyma-incubator/team-raptor
/installation/scripts/prow @kyma-incubator/team-raptor @kyma-incubator/team-falcon
/tests/connectivity-adapter @kyma-incubator/team-falcon
/tests/connector @kyma-incubator/team-raptor
/tests/director/tests/formation @kyma-incubator/team-raptor
/tests/director/tests/notifications @kyma-incubator/team-raptor
/tests/director/tests/runtime @kyma-incubator/team-raptor
/tests/gateway @kyma-incubator/team-raptor
/tests/istio @kyma-incubator/team-raptor
/tests/ns-adapter @kyma-incubator/team-falcon
/tests/ord-aggregator @kyma-incubator/team-falcon
/tests/ord-service @kyma-incubator/team-raptor
/tests/pairing-adapter @kyma-incubator/team-falcon
/tests/pkg/notifications @kyma-incubator/team-raptor
/tests/system-fetcher @kyma-incubator/team-falcon
/tests/tenant-fetcher @kyma-incubator/team-falcon

# All .md files
*.md @kyma-incubator/cmp-technical-writers
