Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev, @kwiatekus, @dariadomagala, @parostatkiem, @akucharska, @Wawrzyn321, @klaudiagrz, @kazydek, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @Peteva, @ekaterina-mitova, @nkanchev

comment out probes
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

fix scopes
  components/system-broker/pkg/oauth/token_provider.go
  installation/resources/installer-cr-kyma-dependencies.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Use correct values in chart (#1525)
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa

Remove tiller leftovers
  installation/resources/tiller.yaml
  installation/scripts/install-tiller.sh
  installation/scripts/installer.sh
  installation/scripts/tiller-tls.sh
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

wip
  tools/compass-installer/compass.Dockerfile
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Remove tiller leftovers (#1528)
  installation/resources/tiller.yaml
  installation/scripts/install-tiller.sh
  installation/scripts/installer.sh
  installation/scripts/tiller-tls.sh
  tools/compass-installer/compass.Dockerfile
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

bug fixes on apis + token provider
  components/system-broker/Makefile
  components/system-broker/cmd/main.go
  components/system-broker/go.sum
  components/system-broker/internal/osb/catalog.go
  components/system-broker/internal/osb/instance_last_op.go
  components/system-broker/pkg/oauth/token_provider.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Add logs regarding Application connection flow
  components/connector/internal/api/certificate_resolver.go
  components/connector/internal/api/token_resolver.go
  components/connector/internal/authentication/authenticator.go
  components/connector/internal/certificates/service.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/package/resolver.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

Fix wrong logger methods
  components/connector/internal/authentication/authenticator.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/package/resolver.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

remove boilerplate
  components/system-broker/pkg/http/client.go
  components/system-broker/pkg/oauth/token_provider.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Fix nil pointer issue
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

fix stuff, error handling for client, etc
  components/system-broker/cmd/main.go
  components/system-broker/internal/director/client.go
  components/system-broker/internal/osb/catalog_converter.go
  components/system-broker/pkg/http/client.go
  components/system-broker/pkg/http/error_transport.go
  components/system-broker/pkg/http/secured_transport.go
  components/system-broker/pkg/oauth/token_provider.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

fix dockerfile
  components/system-broker/Dockerfile
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

add missing scopes
  components/system-broker/pkg/oauth/token_provider.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Update Compass chart with latest PR
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

Improve logs readability
  components/connector/internal/api/certificate_resolver.go
  components/connector/internal/certificates/service.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/package/resolver.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

Address PR comments
  components/connector/internal/api/certificate_resolver.go
  components/connector/internal/api/token_resolver.go
  components/connector/internal/certificates/service.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

Address PR comments
  components/connector/internal/api/certificate_resolver.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/package/resolver.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

fix charts
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

add specs api and specs catalog metadata
  components/system-broker/cmd/main.go
  components/system-broker/internal/director/client.go
  components/system-broker/internal/director/types.go
  components/system-broker/internal/osb/api.go
  components/system-broker/internal/osb/broker.go
  components/system-broker/internal/osb/catalog.go
  components/system-broker/internal/osb/catalog_converter.go
  components/system-broker/internal/specs/api.go
  components/system-broker/pkg/server/config.go
  components/system-broker/pkg/server/server.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

insttall on full kyma
  installation/cmd/kyma/disable-legacy-connectivity-override.yaml
  installation/cmd/kyma/installer-config-local.yaml.tpl
  installation/cmd/kyma/installer-cr-cluster-runtime.yaml.tpl
  installation/cmd/run.sh
  installation/resources/installer-config-local-compass-with-full-kyma.yaml
  installation/resources/installer-cr-kyma-dependencies.yaml
  installation/scripts/installer.sh
  installation/scripts/tiller-tls.sh
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

fix specifications
  components/system-broker/cmd/main.go
  components/system-broker/internal/osb/broker.go
  components/system-broker/internal/osb/catalog.go
  components/system-broker/internal/osb/catalog_converter.go
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

add automated dev installation for full kyma + compass
  chart/compass/values.yaml
  docs/compass/04-01-installation.md
  installation/cmd/run.sh
  installation/resources/installer-config-local-compass-with-full-kyma.yaml
  installation/resources/kyma/installer-cr-kyma-dependencies.yaml
  installation/resources/kyma/installer-cr-kyma.yaml
  installation/resources/kyma/installer-overrides-api-gateway.yaml
  installation/resources/kyma/installer-overrides-compass-gateway.yaml
  installation/resources/kyma/installer-overrides-disable-legacy-connectivity.yaml
  installation/resources/kyma/installer-overrides-istio.yaml
  installation/resources/kyma/installer-overrides-kyma-config-local.yaml
  installation/scripts/install-kyma.sh
  installation/scripts/install-minimal-kyma.sh
  installation/scripts/installer.sh
  installation/scripts/run-compass-installer.sh
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev, @klaudiagrz, @kazydek, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @Peteva, @ekaterina-mitova, @nkanchev

enable broker and comment out kyma
  chart/compass/values.yaml
  installation/cmd/run.sh
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @gvachkov, @ataleksandrov, @desislavaa, @danielgospodinow, @KirilKabakchiev, @NickyMateev, @dpanayotov, @DimitarPetrov, @krasish, @StanislavStefanov, @pankrator, @alextargov, @PetarTodorovv, @nyordanoff, @dzahariev

add full kyma option to local dev installation
  docs/compass/04-01-installation.md
  installation/cmd/run.sh
  installation/resources/installer-config-local-compass-with-full-kyma.yaml
  installation/resources/kyma/installer-cr-kyma-dependencies.yaml
  installation/resources/kyma/installer-cr-kyma.yaml
  installation/resources/kyma/installer-overrides-api-gateway.yaml
  installation/resources/kyma/installer-overrides-compass-gateway.yaml
  installation/resources/kyma/installer-overrides-disable-legacy-connectivity.yaml
  installation/resources/kyma/installer-overrides-istio.yaml
  installation/resources/kyma/installer-overrides-kyma-config-local.yaml
  installation/scripts/install-kyma.sh
  installation/scripts/install-minimal-kyma.sh
  installation/scripts/installer.sh
  installation/scripts/run-compass-installer.sh
Owners: @klaudiagrz, @kazydek, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @Peteva, @ekaterina-mitova, @nkanchev, @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

fix failing prow pre job
  installation/scripts/generate-compass-installer-artifacts.sh
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

remove default vm driver
  installation/cmd/run.sh
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Fix document style
  docs/internal/investigations/secure-resolvers/secure-resolvers-v2.md
Owners: @klaudiagrz, @kazydek, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @Peteva, @ekaterina-mitova, @nkanchev

uncomment kyma deploy
  installation/cmd/run.sh
Owners: @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

address comments
  docs/compass/04-01-installation.md
  installation/cmd/run.sh
Owners: @klaudiagrz, @kazydek, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @Peteva, @ekaterina-mitova, @nkanchev, @PK85, @crabtree, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Fixed .md file
  docs/compass/04-01-installation.md
Owners: @klaudiagrz, @kazydek, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @Peteva, @ekaterina-mitova, @nkanchev

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa

# All developers working on this repository are able to edit main values.yaml file.
/chart/compass/values.yaml @PK85 @crabtree @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @dbadura @kjaksik @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001 @koala7659 @rafalpotempa @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev

# Director
/chart/compass/charts/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/chart/compass/templates/director-api-test.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/chart/compass/templates/director-gateway-integration-test.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/components/schema-migrator/migrations/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/components/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/docs/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/docs/integration-system @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/tests/director @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev

# Tenant Fetcher
/chart/compass/templates/tenant-fetcher-secret.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/chart/compass/templates/tenant-fetcher-job.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev

# Gateway
/chart/compass/charts/gateway @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/chart/compass/templates/gateway-auditlog-integration-test.yaml @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/components/gateway @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev

# Healthchecker
/chart/compass/charts/healthchecker @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/components/healthchecker @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev

# Pairing Adapter
/chart/compass/charts/paring-adapter @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/components/pairing-adapter @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev

# External Services Mock
/components/external-services-mock @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev
/chart/compass/charts/external-services-mock @PK85 @crabtree @kfurgol @tgorgol @dbadura @kjaksik @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev

# Compass UI
/chart/compass/charts/cockpit @kwiatekus @dariadomagala @parostatkiem @akucharska @Wawrzyn321 @gvachkov @ataleksandrov @desislavaa @danielgospodinow @KirilKabakchiev @NickyMateev @dpanayotov @DimitarPetrov @krasish @StanislavStefanov @pankrator @alextargov @PetarTodorovv @nyordanoff @dzahariev

# All .md files
*.md @klaudiagrz @kazydek @bszwarc @mmitoraj @majakurcius @alexandra-simeonova @Peteva @ekaterina-mitova @nkanchev
