Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @kwiatekus, @dariadomagala, @parostatkiem, @akucharska, @sjanota, @Wawrzyn321, @maksd, @piotrmsc, @kubadz, @strekm, @jakkab, @Tomasz-Smelcerz-SAP, @Demonsthere, @colunira, @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Fix the default value in the Provisioner's tutorial
  docs/provisioner/08-02-provisioning-gardener.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Apply review suggestions
  components/kyma-environment-broker/README.md
  docs/kyma-environment-broker/03-01-service-description.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Implement followups for kubeconfig-service (#1445)
  chart/oidc-kubeconfig-service/templates/virutalservice.yaml
  chart/oidc-kubeconfig-service/values.yaml
  components/kubeconfig-service/README.md
Owners: @piotrmsc, @kubadz, @strekm, @jakkab, @Tomasz-Smelcerz-SAP, @Demonsthere, @colunira, @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Update KEB due to review
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
Owners: @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001

Update charts
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/provisioner/internal/model/gardener_config.go
Owners: @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Update installation SDK
  components/provisioner/go.mod
  components/provisioner/go.sum
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Add a purpose for the SKRs (#1425)
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  components/schema-migrator/migrations/provisioner/202006161055_add_purpose_for_gardener_config.down.sql
  components/schema-migrator/migrations/provisioner/202006161055_add_purpose_for_gardener_config.up.sql
Owners: @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @crabtree, @pkosiec, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @koala7659, @rafalpotempa

Update KEB env var name after it's been changed
  components/kyma-environment-broker/README.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Delete fork from deps
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
Owners: @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001

Bump image
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa

Bump Kyma Operator to use Helm3
  .dockerignore
  installation/cmd/run.sh
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/tiller.yaml
  installation/scripts/installer.sh
  tools/compass-installer/compass.Dockerfile
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Adjust run.sh to changes in CLI
  installation/cmd/run.sh
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Resolve conflicts
  components/provisioner/go.mod
  components/provisioner/go.sum
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Update Provisioner and KEB documentation after changes to GraphQL schema (#1446)
  components/kyma-environment-broker/README.md
  docs/kyma-environment-broker/03-01-service-description.md
  docs/provisioner/08-02-provisioning-gardener.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Delete fork from KEB dependencies (#1449)
  chart/compass/values.yaml
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa

make keb chart ok
  .dockerignore
  chart/compass/requirements.yaml
  chart/istio-gateway/templates/gateway.yaml
  chart/istio-gateway/values.yaml
  chart/kyma-environment-broker/templates/NOTES.txt
  chart/kyma-environment-broker/templates/_helpers.tpl
  chart/kyma-environment-broker/templates/api-rule.yaml
  chart/kyma-environment-broker/templates/app-config.yaml
  chart/kyma-environment-broker/templates/deployment.yaml
  chart/kyma-environment-broker/templates/oauth-client.yaml
  chart/kyma-environment-broker/templates/policy.yaml
  chart/kyma-environment-broker/templates/rbac.yaml
  chart/kyma-environment-broker/templates/service-monitor.yaml
  chart/kyma-environment-broker/templates/service.yaml
  chart/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  chart/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  chart/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  chart/kyma-environment-broker/values.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Move istio gateway out of compass
  chart/istio-gateway/.helmignore
  chart/istio-gateway/Chart.yaml
  chart/istio-gateway/templates/_helpers.tpl
  chart/istio-gateway/templates/gateway.yaml
  chart/istio-gateway/values.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

add values to instalation
  installation/resources/installer-config-local.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Duplicate keb values
  chart/kyma-environment-broker/values.yaml
  chart/provisioner/values.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Fix metris and provisioner charts
  chart/metris/values.yaml
  chart/provisioner/values.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Update KEB documentation after GraphQL schema changed
  docs/kyma-environment-broker/03-01-service-description.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Bump kyma version for management plane migration
  installation/resources/KYMA_VERSION
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

fix provisioner and metris chart
  chart/metris/templates/_helpers.tpl
  chart/provisioner/templates/_helpers.tpl
  chart/provisioner/templates/service-account.yaml
  chart/provisioner/templates/service.yaml
  chart/provisioner/templates/tests/role-binding.yaml
  chart/provisioner/templates/tests/service-account.yaml
  chart/provisioner/templates/tests/test-provisioner.yaml
  chart/provisioner/templates/virtual-service.yaml
  chart/provisioner/values.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Bump kyma version for management plane migration (#1452)
  installation/resources/KYMA_VERSION
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Bump Kyma Operator to use Helm3 (#1448)
  .dockerignore
  installation/cmd/run.sh
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/tiller.yaml
  installation/scripts/installer.sh
  tools/compass-installer/compass.Dockerfile
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Apply review suggestions
  docs/kyma-environment-broker/03-01-service-description.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Update KEB documentation after Provisioner's GraphQL schema changed (#1451)
  docs/kyma-environment-broker/03-01-service-description.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Update Dockerfiles
  components/connectivity-adapter/Dockerfile
  components/connector/Dockerfile
  components/provisioner/Dockerfile
  tests/connectivity-adapter/Dockerfile
  tests/connector-tests/Dockerfile
  tests/provisioner-tests/Dockerfile
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Update golang images
  tests/connectivity-adapter/Dockerfile
  tests/connector-tests/Dockerfile
  tests/provisioner-tests/Dockerfile
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Fix Runtime Provisioner naming in KEB docs; update instance details payload in tutorial
  components/kyma-environment-broker/README.md
  docs/kyma-environment-broker/01-01-overview.md
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
  docs/kyma-environment-broker/08-04-instance-details.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Update deps
  components/provisioner/go.mod
  components/provisioner/go.sum
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Bump images
  chart/compass/values.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @dbadura, @kjaksik, @mszostok, @piotrmiskiewicz, @polskikiel, @ksputo, @jasiu001, @koala7659, @rafalpotempa

Fix Runtime Provisioner naming in KEB docs (#1454)
  components/kyma-environment-broker/README.md
  docs/kyma-environment-broker/01-01-overview.md
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
  docs/kyma-environment-broker/08-04-instance-details.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Update deps
  components/provisioner/go.mod
  components/provisioner/go.sum
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Set increased resource limits explicitly on compass-installer container
  installation/resources/installer.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Update readme
  components/kubeconfig-service/README.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Set increased resource limits explicitly on compass-installer container (#1455)
  installation/resources/installer.yaml
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Update readme (#1456)
  components/kubeconfig-service/README.md
Owners: @klaudiagrz, @kazydek, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Change images to alpine 3 12
  components/connectivity-adapter/Dockerfile
  components/connector/Dockerfile
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

Remove Hydroform and credentials secret name
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/fake/gardener_client.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/hydroform/client/client.go
  components/provisioner/internal/hydroform/client/mocks/Client.go
  components/provisioner/internal/hydroform/mocks/Service.go
  components/provisioner/internal/hydroform/provisioner.go
  components/provisioner/internal/hydroform/provisioner_test.go
  components/provisioner/internal/hydroform/service.go
  components/provisioner/internal/hydroform/service_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/gcp_config.go
  components/provisioner/internal/model/gcp_config_test.go
  components/provisioner/internal/model/provider.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
Owners: @PK85, @crabtree, @pkosiec, @kfurgol, @tgorgol, @dbadura, @kjaksik, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa

# All developers working on this repository are able to edit main values.yaml file.
/chart/compass/values.yaml @PK85 @crabtree @pkosiec @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @dbadura @kjaksik @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001 @koala7659 @rafalpotempa

# Registration job is used by provisioner and kyma-environment-broker
/chart/compass/templates/registration-job.yaml @PK85 @crabtree @pkosiec @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @dbadura @kjaksik @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001 @koala7659 @rafalpotempa

# Kyma Environment Broker
/chart/compass/charts/kyma-environment-broker @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001
/components/kyma-environment-broker @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001
/docs/kyma-environment-broker @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001
/components/schema-migrator/migrations/kyma-environment-broker @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001

# Director
/chart/compass/charts/director @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/chart/compass/templates/director-api-test.yaml @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/chart/compass/templates/director-gateway-integration-test.yaml @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/components/schema-migrator/migrations/director @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/components/director @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/docs/director @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/docs/integration-system @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/tests/director @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik

# Tenant Fetcher
/chart/compass/templates/tenant-fetcher-secret.yaml @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/chart/compass/templates/tenant-fetcher-job.yaml @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik

# Gateway
/chart/compass/charts/gateway @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/chart/compass/templates/gateway-auditlog-integration-test.yaml @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/components/gateway @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik

# Healthchecker
/chart/compass/charts/healthchecker @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/components/healthchecker @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik

# Pairing Adapter
/chart/compass/charts/paring-adapter @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/components/pairing-adapter @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik

# External Services Mock
/components/external-services-mock @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik
/chart/compass/charts/external-services-mock @PK85 @crabtree @pkosiec @kfurgol @tgorgol @dbadura @kjaksik

# e2e-provisioning
/tests/e2e/provisioning @PK85 @mszostok @piotrmiskiewicz @polskikiel @ksputo @jasiu001

# Compass UI
/chart/compass/charts/cockpit @kwiatekus @dariadomagala @parostatkiem @akucharska @sjanota @Wawrzyn321

# Metris
/chart/compass/charts/metris @maksd
/components/metris @maksd

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere @colunira
/chart/oidc-kubeconfig-service @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere @colunira

# All .md files
*.md @klaudiagrz @kazydek @tomekpapiernik @bszwarc @mmitoraj @majakurcius @alexandra-simeonova
