Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish, @Peteva, @ekaterina-mitova, @nkanchev

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

* @petartodorovv @stefancholakov @dzahariev @nickymateev @desislavaa @kaloyanspiridonov @nyordanoff @alextargov @svetlinzarev-sap @dimitarpetrov @ivantenevvasilev @la4ezar @stanislavstefanov @kirilkabakchiev @krasish
/chart/compass/charts/connectivity-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/chart/compass/charts/connector @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/chart/compass/charts/gateway @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/chart/compass/charts/ns-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/chart/compass/charts/operations-controller @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev
/chart/compass/charts/ord-service @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/chart/compass/charts/pairing-adapter @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev
/chart/compass/charts/tenant-fetcher @kirilkabakchiev @krasish @stefancholakov @desislavaa
/chart/compass/templates/filters @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/connectivity-adapter @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/connector @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/director/cmd/director @krasish @dzahariev @kaloyanspiridonov @nickymateev @desislavaa @stefancholakov @dimitarpetrov @alextargov @svetlinzarev-sap @la4ezar @nyordanoff @petartodorovv @kirilkabakchiev @ivantenevvasilev @stanislavstefanov
/components/director/cmd/ns-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/components/director/cmd/ordaggregator @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/components/director/cmd/scopessynchronizer @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/cmd/systemfetcher @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/tenantfetcher-job @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/cmd/tenantfetcher-svc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/cmd/tenantloader @dimitarpetrov @la4ezar @petartodorovv @desislavaa @kaloyanspiridonov @nyordanoff @alextargov @svetlinzarev-sap @stanislavstefanov @kirilkabakchiev @krasish @nickymateev @ivantenevvasilev @stefancholakov @dzahariev
/components/director/internal/domain/formation @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/director/internal/info @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/components/director/internal/nsadapter @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev
/components/director/internal/open_resource_discovery @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev
/components/director/internal/scopes_sync @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/components/director/internal/systemfetcher @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/components/director/internal/tenantfetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/internal/tenantfetchersvc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/pkg/accessstrategy @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/operation @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/scenario @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/external-services-mock @stefancholakov @alextargov @kaloyanspiridonov @dimitarpetrov @stanislavstefanov @ivantenevvasilev @desislavaa @kirilkabakchiev @krasish @dzahariev @svetlinzarev-sap @nyordanoff @nickymateev @la4ezar @petartodorovv
/components/gateway @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/components/hydrator @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/operations-controller @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/pairing-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/components/schema-migrator @kirilkabakchiev @alextargov @nickymateev @ivantenevvasilev @la4ezar @nyordanoff @stefancholakov @dzahariev @petartodorovv @krasish @dimitarpetrov @stanislavstefanov @desislavaa @kaloyanspiridonov @svetlinzarev-sap
/installation/cmd @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/installation/scripts @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/tests/connectivity-adapter @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/tests/connector @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/tests/gateway @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/tests/istio @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/tests/ns-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/tests/ord-aggregator @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/ord-service @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/tests/pairing-adapter @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev
/tests/system-fetcher @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/tests/tenant-fetcher-job @desislavaa @kirilkabakchiev @krasish @stefancholakov

# All .md files
*.md @Peteva @ekaterina-mitova @nkanchev

cleanup
  diff
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

remove scopes for deleteLabelDefinition and remove request from tests
  chart/compass/charts/director/config.yaml
  chart/compass/values.yaml
  components/director/hack/config-local.yaml
  tests/go.sum
  tests/pkg/fixtures/label_requests.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

Remove fetching tenant when creating app template
  components/director/internal/domain/apptemplate/service.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

fix unit tests
  components/director/internal/domain/apptemplate/service_test.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

make the different timeouts configurable
  chart/compass/charts/gateway/templates/deployment.yaml
  chart/compass/charts/gateway/values.yaml
  chart/compass/charts/ns-adapter/templates/deployment.yaml
  chart/compass/charts/ns-adapter/values.yaml
  components/director/cmd/ns-adapter/main.go
  components/director/internal/nsadapter/adapter/configuration.go
  components/gateway/cmd/main.go
Owners: @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv, @stanislavstefanov, @alextargov, @dzahariev, @kaloyanspiridonov, @nickymateev, @svetlinzarev-sap

Update pr version in values.yaml
  chart/compass/values.yaml
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

update the director PR version
  chart/compass/values.yaml
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

fix timeout value
  chart/compass/charts/ns-adapter/values.yaml
Owners: @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev, @svetlinzarev-sap

remove deleteLabelDefinition from docs
  docs/compass/03-04-labels.md
Owners: @Peteva, @ekaterina-mitova, @nkanchev

add check for not found error
  components/director/internal/domain/labeldef/resolver.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

Update compass console version
  chart/compass/values.yaml
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

[HOTFIX] Update compass console version
  chart/compass/values.yaml
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

add ns_adapter timeout in the envoy filter
  chart/compass/templates/filters/oathkeeper-timeout-filter.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv, @stanislavstefanov, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @alextargov, @svetlinzarev-sap, @krasish

use the old timeout values for the gateway component
  chart/compass/charts/gateway/values.yaml
  components/gateway/cmd/main.go
Owners: @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv, @stanislavstefanov

fix env names in config
  components/director/internal/nsadapter/adapter/configuration.go
  components/gateway/cmd/main.go
Owners: @svetlinzarev-sap, @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev, @la4ezar, @nyordanoff, @petartodorovv, @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev

fix env names in config
  components/director/internal/nsadapter/adapter/configuration.go
Owners: @svetlinzarev-sap, @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev

Merge systems api (#2318)
  chart/compass/charts/director/config.yaml
  chart/compass/values.yaml
  components/director/examples/README.md
  components/director/examples/merge-applications/merge-applications.graphql
  components/director/go.mod
  components/director/go.sum
  components/director/hack/config-local.yaml
  components/director/internal/domain/application/automock/application_service.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/str/strings.go
  tests/director/tests/application_api_test.go
  tests/pkg/fixtures/application_requests.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish, @Peteva, @ekaterina-mitova, @nkanchev

re-enable the large request-body test
  tests/ns-adapter/tests/full_report_test.go
Owners: @alextargov, @dzahariev, @kaloyanspiridonov, @kirilkabakchiev, @nickymateev, @svetlinzarev-sap

Remove additional logs from TF job handler test
  tests/tenant-fetcher-job/tests/handler_test.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov

Remove fetching tenant when creating app template (#2354)
  chart/compass/values.yaml
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/apptemplate/service_test.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

change error message check when not found
  components/director/internal/domain/labeldef/resolver.go
  components/director/internal/domain/labeldef/resolver_test.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

Update compass console version (#2355)
  chart/compass/values.yaml
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

Initial implementationma
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/rtmtest/selfreg_manager.go
  components/director/internal/domain/runtime/selfreg_manager.go
  components/director/internal/domain/runtime/selfreg_manager_test.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

update values.yaml
  chart/compass/values.yaml
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

return apperror and add unit tests to cover new logic
  components/director/internal/domain/labeldef/resolver.go
  components/director/internal/domain/labeldef/resolver_test.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

add tests for GetWithoutCreating
  components/director/internal/domain/labeldef/service_test.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

refactor UpdateLabelDefinition contains checks
  components/director/internal/domain/labeldef/resolver.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

fix number of shards calculation
  components/gateway/pkg/proxy/adaptertransport.go
Owners: @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv, @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev

fix shard len calculation
  components/gateway/pkg/proxy/adaptertransport.go
Owners: @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv, @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev

do not hardcode the message body size limit in the test
  components/gateway/pkg/proxy/adaptertransport_test.go
Owners: @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv, @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev

set mockery version to v2.12.2 in regenerate script
  components/connector/hack/regenerate-mocks.sh
  components/director/hack/regenerate-mocks.sh
  components/hydrator/hack/regenerate-mocks.sh
Owners: @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv, @stanislavstefanov, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @alextargov, @svetlinzarev-sap, @krasish

bump all changed component pr versions
  chart/compass/values.yaml
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

Change external_services_mock version
  chart/compass/values.yaml
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

Use tenant on demand api in hydrator
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/tenant/resolver.go
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/tenantfetcher/handler.go
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish

Update values.yaml
  chart/compass/values.yaml
Owners: @petartodorovv, @stefancholakov, @dzahariev, @nickymateev, @desislavaa, @kaloyanspiridonov, @nyordanoff, @alextargov, @svetlinzarev-sap, @dimitarpetrov, @ivantenevvasilev, @la4ezar, @stanislavstefanov, @kirilkabakchiev, @krasish
