Repository kyma-incubator/compass, changes with the owners that CODEOWNERS names for each.
All owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev, @Peteva, @ekaterina-mitova, @nkanchev

add godoc
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime_context/repository.go
  components/director/internal/domain/runtime_context/resolver.go
  components/director/internal/domain/runtime_context/service.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

set new env variable on by default
  chart/compass/values.yaml
  installation/resources/installer-config-local.yaml.tpl
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

allow string pointers as well as strings (#2317)
  chart/compass/values.yaml
  components/director/pkg/scalar/scalar.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Create test definitions conditionally
  chart/compass/templates/bench/director/director-bench.yaml
  chart/compass/templates/bench/ord-service/ord-service-bench.yaml
  chart/compass/templates/tests/connectivity-adapter/connectivity-adapter-test.yaml
  chart/compass/templates/tests/connector/connector-test.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  chart/compass/templates/tests/gateway/gateway-test.yaml
  chart/compass/templates/tests/istio/istio-test.yaml
  chart/compass/templates/tests/ns-adapter/ns-adapter-test.yaml
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  chart/compass/templates/tests/system-broker/system-broker-test.yaml
  chart/compass/templates/tests/system-fetcher/system-fetcher-test.yaml
  chart/compass/templates/tests/tenant-fetcher-job/tenant-fetcher-job-test.yaml
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Enable Assigning a single Runtime to formation in the new Formation APIs (#2309)
  chart/compass/values.yaml
  components/director/internal/domain/formation/automock/scenario_assignment_engine.go
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/engine.go
  components/director/internal/domain/scenarioassignment/engine_test.go
  components/director/internal/domain/scenarioassignment/fixtures_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  tests/director/tests/formation_api_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Create system-fetcher e2e test for systems spanning multiple customer GA tenants (#2320)
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  chart/compass/values.yaml
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/systemfetcher/handler.go
  tests/pkg/tenant/tenant_setup.go
  tests/system-fetcher/tests/handler_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Tweak
  components/director/internal/domain/tenant/fetcher_on_demand.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Use tenant on demand API in Director (#2307)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/automock/tenant_fetcher.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/scenarioassignment/resolver_test.go
  components/director/internal/domain/tenant/automock/client.go
  components/director/internal/domain/tenant/fetcher_on_demand.go
  components/director/internal/domain/tenant/fetcher_on_demand_test.go
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/provider/handler.go
  installation/resources/installer-config-local.yaml.tpl
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix TF endpoint
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix TF endpoint (#2327)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Refactoring
  components/director/func.source
  components/director/run.sh
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

run make imports
  components/director/internal/metrics/collector.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

remove moved value from merge
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update hydrators owners files
  components/hydrator/OWNERS
  components/hydrator/internal/runtimemapping/OWNERS
  components/hydrator/internal/tenantmapping/OWNERS
  components/hydrator/pkg/authenticator/OWNERS
  components/hydrator/pkg/oathkeeper/OWNERS
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

add env variable in director deployment again
  chart/compass/charts/director/templates/deployment.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Metrics for GraphQL endpoints (#2311)
  chart/compass/charts/director/templates/dashboard-configmap.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/templates/service-monitor.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/internal/metrics/collector.go
  components/director/internal/metrics/request_interceptor.go
  components/hydrator/go.sum
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update hydrators owners files (#2328)
  components/hydrator/OWNERS
  components/hydrator/internal/runtimemapping/OWNERS
  components/hydrator/internal/tenantmapping/OWNERS
  components/hydrator/pkg/authenticator/OWNERS
  components/hydrator/pkg/oathkeeper/OWNERS
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update ns-adapter-secret.yaml
  chart/compass/templates/ns-adapter-secret.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update ns-adapter-secret.yaml
  chart/compass/templates/ns-adapter-secret.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Add ord test template
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Test ns seecret (#2329)
  chart/compass/templates/ns-adapter-secret.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Initial commit
  components/director/internal/domain/formation/resolver.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/service.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Tweak
  components/director/internal/domain/formation/resolver.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Minor improvements
  components/director/internal/domain/runtime/resolver.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix and add unit tests.
  components/director/internal/domain/runtime/automock/subscription_service.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/subscription/automock/runtime_service.go
  components/director/internal/subscription/automock/tenant_service.go
  components/director/internal/subscription/service_test.go
  components/director/internal/tenantfetchersvc/automock/director_graph_ql_client.go
  components/director/internal/tenantfetchersvc/handler_test.go
  components/director/internal/tenantfetchersvc/subscriber.go
  components/director/internal/tenantfetchersvc/subscriber_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Regenerate gql models and schema
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema_gen.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Reorder args. Add configuration in values.yaml.
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/internal/tenantfetchersvc/subscriber.go
Owners: @desislavaa, @kirilkabakchiev, @krasish, @stefancholakov, @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @stanislavstefanov, @nickymateev, @la4ezar, @dzahariev

Finalize implementation
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/subscription/service.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Initial implementation
  chart/compass/templates/tenant-fetcher-secret.yaml
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/subscription/service.go
  components/director/internal/subscription/service_test.go
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/provisioner.go
  components/director/internal/tenantfetchersvc/subscriber.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/graphql_client/director_client.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Fix bug in mutation and local tenant-fetcher-secret.yaml
  chart/compass/templates/tenant-fetcher-secret.yaml
  components/director/pkg/graphql_client/director_client.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Install Java
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Fix JDK installation
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Fix JDK installation 2
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

Fix unit tests
  components/director/internal/domain/formation/automock/tenant_fetcher_service.go
  components/director/internal/domain/formation/automock/tenant_service.go
  components/director/internal/domain/formation/resolver.go
  components/director/internal/domain/formation/resolver_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/domain/runtime/service_test.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update values.yaml
  chart/compass/values.yaml
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Look for content
  installation/scripts/prow/ord-test.sh
Owners: @stanislavstefanov, @dimitarpetrov, @ivantenevvasilev, @kirilkabakchiev, @la4ezar, @nyordanoff, @petartodorovv

added baseUrl prop
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/converter_test.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/service_test.go
  components/director/pkg/graphql/schema.graphql
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

update gql
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema_gen.go
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update formations owners
  components/director/internal/domain/formation/OWNERS
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

Update formations owners (#2331)
  components/director/internal/domain/formation/OWNERS
Owners: @dimitarpetrov, @nyordanoff, @petartodorovv, @alextargov, @svetlinzarev-sap, @kaloyanspiridonov, @ivantenevvasilev, @desislavaa, @krasish, @kirilkabakchiev, @stanislavstefanov, @nickymateev, @la4ezar, @stefancholakov, @dzahariev

CODEOWNERS:

# This file provides an overview of code owners in the `compass` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `compass` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

* @dimitarpetrov @nyordanoff @petartodorovv @alextargov @svetlinzarev-sap @kaloyanspiridonov @ivantenevvasilev @desislavaa @krasish @kirilkabakchiev @stanislavstefanov @nickymateev @la4ezar @stefancholakov @dzahariev
/chart/compass/charts/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/chart/compass/charts/connector @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/gateway @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/chart/compass/charts/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/chart/compass/charts/operations-controller @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev
/chart/compass/charts/ord-service @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/chart/compass/charts/pairing-adapter @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev
/chart/compass/charts/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/chart/compass/templates/filters @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/components/connectivity-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/connector @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/cmd/director @petartodorovv @stanislavstefanov @krasish @kaloyanspiridonov @nickymateev @svetlinzarev-sap @ivantenevvasilev @kirilkabakchiev @alextargov @dimitarpetrov @la4ezar @dzahariev @nyordanoff @desislavaa @stefancholakov
/components/director/cmd/ns-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/ordaggregator @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/scopessynchronizer @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/cmd/systemfetcher @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/cmd/tenantfetcher-job @stefancholakov @desislavaa @kirilkabakchiev @krasish
/components/director/cmd/tenantfetcher-svc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/cmd/tenantloader @alextargov @ivantenevvasilev @la4ezar @nyordanoff @desislavaa @dzahariev @kaloyanspiridonov @svetlinzarev-sap @stefancholakov @dimitarpetrov @stanislavstefanov @kirilkabakchiev @krasish @nickymateev @petartodorovv
/components/director/internal/authnmappinghandler @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/info @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev
/components/director/internal/nsadapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/components/director/internal/oathkeeper @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/components/director/internal/open_resource_discovery @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/director/internal/runtimemapping @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/director/internal/scopes_sync @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/components/director/internal/systemfetcher @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/components/director/internal/tenantfetcher @krasish @stefancholakov @desislavaa @kirilkabakchiev
/components/director/internal/tenantfetchersvc @desislavaa @kirilkabakchiev @krasish @stefancholakov
/components/director/internal/tenantmapping @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/accessstrategy @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/authenticator @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff
/components/director/pkg/operation @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/director/pkg/scenario @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar
/components/external-services-mock @krasish @stefancholakov @dimitarpetrov @kirilkabakchiev @alextargov @dzahariev @kaloyanspiridonov @ivantenevvasilev @petartodorovv @desislavaa @nickymateev @svetlinzarev-sap @la4ezar @nyordanoff @stanislavstefanov
/components/gateway @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/components/operations-controller @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/components/pairing-adapter @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/components/schema-migrator @dimitarpetrov @kirilkabakchiev @dzahariev @nickymateev @krasish @alextargov @kaloyanspiridonov @ivantenevvasilev @la4ezar @desislavaa @stefancholakov @svetlinzarev-sap @nyordanoff @petartodorovv @stanislavstefanov
/installation/cmd @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/installation/scripts @stanislavstefanov @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv
/tests/connectivity-adapter @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev
/tests/connector @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/gateway @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov @ivantenevvasilev
/tests/istio @dimitarpetrov @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov
/tests/ns-adapter @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/ord-aggregator @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov
/tests/ord-service @ivantenevvasilev @kirilkabakchiev @la4ezar @nyordanoff @petartodorovv @stanislavstefanov @dimitarpetrov
/tests/pairing-adapter @alextargov @dzahariev @kaloyanspiridonov @kirilkabakchiev @nickymateev @svetlinzarev-sap
/tests/system-fetcher @kirilkabakchiev @nickymateev @svetlinzarev-sap @alextargov @dzahariev @kaloyanspiridonov
/tests/tenant-fetcher @desislavaa @kirilkabakchiev @krasish @stefancholakov
/tests/tenant-fetcher-job @desislavaa @kirilkabakchiev @krasish @stefancholakov

# All .md files
*.md @Peteva @ekaterina-mitova @nkanchev
